.wrap {
        position: relative;
        top: 100px;
        width: 1320px;
        height: 900px;
        margin: 0 auto;
        /* background: lightcoral; */
    }
    .newReview {
        margin-left: 60px;
        padding: 20px 0;
    }
    .container {
        /* background: lightblue; */
        position: relative;
        margin: 0 60px;
    }

    .titleInput, .contentTextArea {
        padding: 15px;
    }


    .titleArea, .contentArea, .nickNameArea {
        margin-top: 20px;
    }

    .titleInput {
        width: 100%;
        height: 30px;
    }
    .contentTextArea {
        width: 100%;
    }

    .btnArea {
        width: 100%;
        display: flex;
        justify-content: right;
    }

    .btn {
        width: 70px;
        height: 40px;
        margin-top: 10px;
    }
    .createBtn {
        margin-right: 80px;
    }
    .cancelBtn {
        position: absolute;
        right: 0;
        bottom: 0;
    }