.oej_bigBox {
    top: 50px;
    position: relative;
    max-width: 1320px;
    height: 200px;
    border-bottom: none;
}

.oej_smallBox1 {
    position: absolute;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #ccc;

}

.oej_smallBox1:hover {
    cursor: pointer;
    background: #eee;
}

.oej_smallBox1 h1 {
    padding-left: 100px;
    width: 700px;
    height: 57px;
    color: #4b4b4b;
}

/* 날짜 */

.oej_small {
    padding-left: 100px;
    width: 700px;
    height: 57px;
    padding-top: 15px;
}


.oej_smallP {
    position: absolute;
    width: 200px;
    height: 62px;
    top: 0;
    margin-right: 420px;
    padding-left: 115px;
    right: 0;
    color: #777;
}

/* 조회수 댓글수 */
.oej_p {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 200px;
    height: 62px;
    margin-right: 420px;
    /* padding-left: 60px; */
    padding-right: 0px;
    right: 0;
    color: #777;
}

.oej_psmall {
    display: flex;
    padding-left: 39px;
    width: 200px;
    margin-top: 20px;
}

.oej_p p i {
    padding-left: 10px;
    padding-right: 10px;
}

/* 이미지 */

.oej_smallBox2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 420px;
    height: 200px;
}

.smallBox3 {
    width: 250px;
    height: 200px;
    padding-top: 10px;
    margin: 0 auto;
}

.oej_smallBox2 img {
    position: absolute;
    margin-left: 10px;
    left: 105px;
    width: 45%;
}

/* 등록된 리뷰가 없을때 */
.AllNull {
    font-size: 1.8rem;
    text-align: center;
    padding: 150px 0;
}