<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>

</head>
<body>
<section class="section1 jh" th:fragment="section1">
    <div class="bgColor"></div>
    <div class="cloud">
        <div class="airplane"></div>
        <img src="mainImages/cloud1.png" alt="">
        <img src="mainImages/cloud2.png" alt="">
        <img src="mainImages/cloud3.png" alt="">
        <img src="mainImages/cloud4.png" alt="">
        <img src="mainImages/cloud5.png" alt="">
        <img src="mainImages/cloud6.png" alt="">
    </div>
    <div class="section1Box">
        <div class="textBox">
            <p class="text1">여름 액티비티 여행</p>
            <p class="text1">여름 꽃 여행</p>
            <p class="text1">여행구독 서비스</p>

            <p class="text2">다채롭게 자연을 즐기는 함안 여행</p>
            <p class="text2">싱그러움 가득한 여름 꽃 명소</p>
            <p class="text2">스트레스가 해소되는 여름 여행지</p>
            <a href="#">자세히 보기</a>
        </div>
        <div class="imgBox">
            <img src="mainImages/Component.png" alt="">
            <ul class="slider">
                <li><img src="mainImages/image 48.png" alt=""></li>
                <li><img src="mainImages/image 49.png" alt=""></li>
                <li><img src="mainImages/image 50.png" alt=""></li>
            </ul>
        </div>
        <div class="page">
            <div class="progressBar">
                <div></div>
            </div>
            <div class="pagination">
                <span>1</span>
                /
                3
            </div>
            <div class="pageBtn">
                <div class="pageBtnPrev">이전</div>
                <div class="pageBtnNext">다음</div>
                <div class="btnAuto">
                    <button class="btnAutoPlay">재생</button>
                    <button class="btnAutoStop">멈춤</button>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>