<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 재웅 -->
<section class="section section4" th:fragment="section4">
    <div class="reviewTitle">
        <h2>리 뷰</h2>
    </div>
    <!-- 카드 시작 -->
    <div class="cards">
        <div class="card">
            <div class="cardImg">
                <!-- like 시작 -->
                <div class="con-like">
                    <input class="like" type="checkbox" title="like">
                    <div class="checkmark">
                        <svg class="outline" viewBox="0 0 24 24">
                            <path
                                    d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                            </path>
                        </svg>
                        <svg class="filled" viewBox="0 0 24 24">
                            <path
                                    d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                            </path>
                        </svg>
                    </div>
                </div>
                <!-- /like 끝 -->
            </div>
            <h2 class="userNickname">보라돌이</h2>
            <p class="userHashTag">#여행 #첫여행 #travel</p>
            <p class="travelPeriod"><span>여행 기간 : </span>2023-08-03 ~ 2023-08-03</p>
            <p class="userContext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis deleniti alias,
                at ex quas itaque voluptates quia vero, illum maiores consequuntur, veritatis culpa expedita corporis
                nemo! Quas hic minima fuga alias quibusdam ipsum mollitia! Sit esse pariatur beatae neque optio.</p>
            <div class="reviewDate">
                <p class="userReviewDate">2023-08-03</p>
            </div>

            <!-- 카드 하단 임시 버튼 -->
            <div class="cardButtons">
                <ul>
                    <li class="cardButton cardBtn1"><i class="fa-regular fa-bookmark"></i></li>
                    <li class="cardButton cardBtn2"><i class="fa-regular fa-comment"></i></li>
                    <li class="cardButton cardBtn3"><i class="fa-regular fa-share-from-square"></i></li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="cardImg">
                <!-- like 시작 -->
                <div class="con-like">
                    <input class="like" type="checkbox" title="like">
                    <div class="checkmark">
                        <svg class="outline" viewBox="0 0 24 24">
                            <path
                                    d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                            </path>
                        </svg>
                        <svg class="filled" viewBox="0 0 24 24">
                            <path
                                    d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                            </path>
                        </svg>
                    </div>
                </div>
                <!-- /like 끝 -->
            </div>
            <h2 class="userNickname">뚜비</h2>
            <p class="userHashTag">#여행 #첫여행 #travel</p>
            <p class="travelPeriod"><span>여행 기간 : </span>2023-08-03 ~ 2023-08-03</p>
            <p class="userContext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis deleniti alias,
                at ex quas itaque voluptates quia vero, illum maiores consequuntur, veritatis culpa expedita corporis
                nemo! Quas hic minima fuga alias quibusdam ipsum mollitia! Sit esse pariatur beatae neque optio.</p>
            <div class="reviewDate">
                <p class="userReviewDate">2023-08-03</p>
            </div>
            <!-- 카드 하단 임시 버튼 -->
            <div class="cardButtons">
                <ul>
                    <li class="cardButton cardBtn1"><i class="fa-regular fa-bookmark"></i></li>
                    <li class="cardButton cardBtn2"><i class="fa-regular fa-comment"></i></li>
                    <li class="cardButton cardBtn3"><i class="fa-regular fa-share-from-square"></i></li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="cardImg">
                <!-- like 시작 -->
                <div class="con-like">
                    <input class="like" type="checkbox" title="like">
                    <div class="checkmark">
                        <svg class="outline" viewBox="0 0 24 24">
                            <path
                                    d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                            </path>
                        </svg>
                        <svg class="filled" viewBox="0 0 24 24">
                            <path
                                    d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                            </path>
                        </svg>
                    </div>
                </div>
                <!-- /like 끝 -->
            </div>
            <h2 class="userNickname">나나</h2>
            <p class="userHashTag">#여행 #첫여행 #travel</p>
            <p class="travelPeriod"><span>여행 기간 : </span>2023-08-03 ~ 2023-08-03</p>
            <p class="userContext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis deleniti alias,
                at ex quas itaque voluptates quia vero, illum maiores consequuntur, veritatis culpa expedita corporis
                nemo! Quas hic minima fuga alias quibusdam ipsum mollitia! Sit esse pariatur beatae neque optio.</p>
            <div class="reviewDate">
                <p class="userReviewDate">2023-08-03</p>
            </div>
            <!-- 카드 하단 임시 버튼 -->
            <div class="cardButtons">
                <ul>
                    <li class="cardButton cardBtn1"><i class="fa-regular fa-bookmark"></i></li>
                    <li class="cardButton cardBtn2"><i class="fa-regular fa-comment"></i></li>
                    <li class="cardButton cardBtn3"><i class="fa-regular fa-share-from-square"></i></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="cardImg">
                <!-- like 시작 -->
                <div class="con-like">
                    <input class="like" type="checkbox" title="like">
                    <div class="checkmark">
                        <svg class="outline" viewBox="0 0 24 24">
                            <path
                                    d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                            </path>
                        </svg>
                        <svg class="filled" viewBox="0 0 24 24">
                            <path
                                    d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                            </path>
                        </svg>
                    </div>
                </div>
                <!-- /like 끝 -->
            </div>
            <h2 class="userNickname">뽀오</h2>
            <p class="userHashTag">#여행 #첫여행 #travel</p>
            <p class="travelPeriod"><span>여행 기간 : </span>2023-08-03 ~ 2023-08-03</p>
            <p class="userContext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis deleniti alias,
                at ex quas itaque voluptates quia vero, illum maiores consequuntur, veritatis culpa expedita corporis
                nemo! Quas hic minima fuga alias quibusdam ipsum mollitia! Sit esse pariatur beatae neque optio.</p>
            <div class="reviewDate">
                <p class="userReviewDate">2023-08-03</p>
            </div>
            <!-- 카드 하단 임시 버튼 -->
            <div class="cardButtons">
                <ul>
                    <li class="cardButton cardBtn1"><i class="fa-regular fa-bookmark"></i></li>
                    <li class="cardButton cardBtn2"><i class="fa-regular fa-comment"></i></li>
                    <li class="cardButton cardBtn3">
                        <i class="fa-regular fa-share-from-square"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a href="/review/reviewSub">
        <button class="addBtn" type="submit">더보기</button>
    </a>
    <!-- /cards 끝 -->

    <!-- 모달 시작 -->
    <div class="modal">
        <!-- <form action="/ticket/ticketList" method="post"> -->
        <form action="/ticket/ticketSearch" method="POST">
            <div class="modalMain">
                <div class="modalHeader">
                    <div class="modalTitle">항공권 예매하기</div>
                    <div class="modalCloseArea"><i class="fa-solid fa-xmark"></i></div>
                </div>
                <!-- modalBody -->

                    <div class="modalBody">
                        <!-- modalBody1 -->
                        <ul class="modalSchedule">
                            <li class="modalAirplaneSA">
                                <ul class="modalAirplaneList">
                                    <li class="modalAirplaneStart">
                                        <p>출발</p>
                                        <label for="start_value">어디서 떠나시나요?</label>
                                        <input type="button" class="startBtn" id="start_value">
                                    </li>
                                    <li class="modalAirplaneArrive">
                                        <p>도착</p>
                                        <label for="arrive_value">어디서 떠나시나요?</label>
                                        <input type="button" class="arriveBtn" id="arrive_value">
                                    </li>
                                </ul>
                            </li>
                            <!-- /modalBody1 -->
                            <li class="modalAirplaneDate">
                                <p>탑승일</p>
                                <label for="date_value">탑승일을 선택하세요</label>
                                <input type="button" class="dateBtn" id="date_value">
                            </li>
                            <li class="modalPersonNum">
                                <p>인원 수</p>
                                <label for="pNum_value">인원수를 선택하세요</label>
                                <input type="button" class="personNumBtn" id="pNum_value">
                            </li>
                            <li class="modalSeatGrade">
                                <p>좌석등급</p>
                                <label for="grade_value">좌석등급을 선택하세요</label>
                                <input type="button" class="airplaneSeatGrade" id="grade_value">
                            </li>
                            <li class="modalSearchBtn">
                                <button type="submit">검색</button>
                            </li>
                        </ul>
                    </div>

                <!-- /modalBody -->
                <div class="modalContents">
                    <div class="modalContentLeft">
                        <div class="modalContentLeftArea">
                            <h3>출발지를 선택하세요</h3>
                            <input type="hidden" name="startValue">
                            <ul class="startAirplaneList">
                                <li>
                                    <input type="checkbox" class="startCity" id="startIncheon" value="ICN">
                                    <label for="startIncheon">인천</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="startCity" id="startJeju" value="CJU">
                                    <label for="startJeju">제주</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="startCity" id="startNarita" value="NRT">
                                    <label for="startNarita">나리타</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="startCity" id="startHaneda" value="HND">
                                    <label for="startHaneda">하네다</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="startCity" id="startLosAngeles" value="LAX">
                                    <label for="startLosAngeles">로스앤젤레스</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="startCity" id="startSanFrancisco" value="SFO">
                                    <label for="startSanFrancisco">샌프란시스코</label>
                                </li>

                                <li>
                                    <input type="checkbox" class="startCity" id="startLasVegas" value="LAS">
                                    <label for="startLasVegas">라스베이거스</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="startCity" id="startGuam" value="GUM">
                                    <label for="startGuam">괌</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="startCity" id="startBudapest" value="BUD">
                                    <label for="startBudapest">부다페스트</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="startCity" id="startBangkok" value="BKK">
                                    <label for="startBangkok">방콕</label>
                                </li>

                            </ul>
                        </div>
                        <div class="modalContentLeftAreaD">
                            <h3>도착지를 선택해주세요</h3>
                            <input type="hidden" name="arriveValue">
                            <ul class="arriveAirplaneList">
                                <li>
                                    <input type="checkbox" class="arriveCity" id="arriveIncheon" value="ICN">
                                    <label for="arriveIncheon">인천</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="arriveCity" id="arriveJeju" value="CJU">
                                    <label for="arriveJeju">제주</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="arriveCity" id="arriveNarita" value="NRT">
                                    <label for="arriveNarita">나리타</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="arriveCity" id="arriveHaneda" value="HND">
                                    <label for="arriveHaneda">하네다</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="arriveCity" id="arriveLosAngeles" value="LAX">
                                    <label for="arriveLosAngeles">로스앤젤레스</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="arriveCity" id="arriveSanFrancisco" value="SFO">
                                    <label for="arriveSanFrancisco">샌프란시스코</label>
                                </li>

                                <li>
                                    <input type="checkbox" class="arriveCity" id="arriveLasVegas" value="LAS">
                                    <label for="arriveLasVegas">라스베이거스</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="arriveCity" id="arriveGuam" value="GUM">
                                    <label for="arriveGuam">괌</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="arriveCity" id="arriveBudapest" value="BUD">
                                    <label for="arriveBudapest">부다페스트</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="arriveCity" id="arriveBangkok" value="BKK">
                                    <label for="arriveBangkok">방콕</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modalContentCenter">
                        <div class="modalContentCenterArea">
                            <!-- calendar -->
                            <div>
                                <label for="startTravel">출국일</label>
                                <input type="date" id="startTravel" class="travelStartDate" name="startDate">
                            </div>
                            <div>
                                <label for="endTravel">귀국일</label>
                                <input type="date" id="endTravel" class="travelEndDate" name="endDate">
                            </div>
                            <!-- /calendar -->
                        </div>
                    </div>
                    <div class="modalContentRight">
                        <div class="modalContentRightArea">
                            <div class="personNumber">
                                <h3>인원수 선택</h3>
                                <div class="numArea">
                                    <label for="adultNum">성인</label>
                                    <input type="number" value="0" id="adultNum" min="0" name="adultNum">
                                </div>
                                <div class="numArea">
                                    <label for="teenagerNum">청소년</label>
                                    <input type="number" value="0" id="teenagerNum" min="0" name="teenagerNum">
                                </div>
                                <div class="numArea">
                                    <label for="childNum">유아</label>
                                    <input type="number" value="0" id="childNum" min="0" name="childNum">
                                </div>
                            </div>
                            <div class="seatGrade">
                                <h3>좌석 등급</h3>
                                <input type="hidden" name="seatGrade">
                                <ul class="domesticList">
                                    <li>
                                        <input type="radio" id="economySeat" class="economy" name="grade">
                                        <label for="economySeat">이코노미석</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="businessSeat" class="business" name="grade">
                                        <label for="businessSeat">비즈니스석</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="firstClassSeat" class="firstClass" name="grade">
                                        <label for="firstClassSeat">일등석</label>
                                    </li>
                                </ul>
                            </div><!-- seatGrade -->
                        </div>
                    </div>
                </div> <!-- /modalContents 끝-->
            </div> <!-- /modalMain 끝 -->
        </form>
        <!-- </form> -->
    </div> <!-- /modal 끝 -->
    <button class="btnOpenPopup"><i class="fa-solid fa-plane-up"></i></button>
    <!-- 모달 끝 -->
</section>


</body>
</html>