<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 선호 -->
<section class="section5" th:fragment="section5">
    <div class="eventTitle">
        <h2>이벤트</h2>
    </div>
    <!-- contents -->
    <div class="carousel">
        <ul class="bxSlider">
            <li><a href="#"><img src="mainImages/carousel_img1.png"/>
                <h3>이벤트 이미지1</h3>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla?</span>
            </a></li>
            <li><a href="#"><img src="mainImages/carousel_img2.png"/>
                <h3>이벤트 이미지2</h3>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla?</span>
            </a></li>
            <li><a href="#"><img src="mainImages/carousel_img3.png"/>
                <h3>이벤트 이미지3</h3>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla?</span>
            </a></li>
            <li><a href="#"><img src="mainImages/carousel_img4.png"/>
                <h3>이벤트 이미지4</h3>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla?</span>
            </a></li>
            <li><a href="#"><img src="mainImages/carousel_img5.png"/>
                <h3>이벤트 이미지5</h3>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla?</span>
            </a></li>
            <li><a href="#"><img src="mainImages/carousel_img6.png"/>
                <h3>이벤트 이미지6</h3>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla?</span>
            </a></li>
        </ul>
        <!-- prev/next -->
        <div class="carousel_btn">
            <a href="#" class="carousel_prev"><img src="mainImages/carousel_btn_prev.png" alt="carousel_btn_next"></a>
            <a href="#" class="carousel_next"><img src="mainImages/carousel_btn_next.png" alt="carousel_btn_next"></a>
        </div>
    </div>
</section>
</body>
</html>