<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/typo.css}" rel="stylesheet">
    <link th:href="@{/css/myPage/common.css}" rel="stylesheet">
    <link th:href="@{/css/sub/header.css}" rel="stylesheet">
    <link th:href="@{/css/sub/footer.css}" rel="stylesheet">
    <style>
/* 3 - myTripTool */

.tripBox,
.tripWeather,
.tripMoney {
    width: 1000px;
    margin: 30px auto;
    height: 200px;
    /* border-bottom: 1px solid #ddd; */
}

.tripBox {
    display: flex;
}

.tripBox>div {
    width: 500px;
    margin: 0 15px;
    border: 1px solid #ddd;
    padding: 20px 50px;
    border-radius: 10px;
}

.tripTime>h2 {
    padding-bottom: 20px;
}
.tripTime>div{
    padding-bottom: 15px;
}

.tripTime>div>label{
    padding-right: 6px;
}

.tripTime>div>select {
    width: 150px;
    height: 35px;
    background-size: 20px;
    padding: 5px;
    border-radius: 4px;
    outline: 0 none;
}


    </style>
</head>

<body>
<header th:replace="~{fragments/sub/header::header}"></header>

<section class="myPageSection">
    <!-- section -->
    <div class="tabBox">
        <ul class="mainTab firstTab">
            <li><a href="/user">#프로필</a></li>
            <li><a href="/user_shopping/orderList">#나의 쇼핑</a></li>
            <li class="on"><a href="/user_trip/tripTool">#여행 도구</a></li>
            <li><a href="/user_review">#나의 리뷰</a></li>
        </ul>
        <div class="subTab">
            <!-- 탭3 -->
            <div>
                <div class="tripBox">
                    <div class="tripTime">
                        <h2>시차는 도착지와 같습니다.</h2>
                        <div>
                            <label for="start">출발지</label>
                            <select name="languages" id="start">
                                <option value="Korea">한국</option>
                                <option value="Japan">일본</option>
                                <option value="Mexico">멕시코</option>
                                <option value="USA">미국(워싱턴)</option>
                                <option value="NewYork">뉴욕</option>
                                <option value="Paris">파리</option>
                                <option value="Switzerland">스위스</option>
                                <option value="Egypt">이집트</option>
                                <option value="Maldive">몰디브</option>
                                <option value="Bangkok">방콕</option>
                                <option value="Hanoi">하노이</option>
                                <option value="HongKong">홍콩</option>
                                <option value="Macau">마카오</option>
                                <option value="Beijing">베이징</option>
                                <option value="Australia">호주</option>
                                <option value="Guam">괌</option>
                            </select>
                        </div>

                        <div>
                            <label for="finish">도착지</label>
                            <select name="languages" id="finish">
                                <option value="Korea">한국</option>
                                <option value="Japan">일본</option>
                                <option value="Mexico">멕시코</option>
                                <option value="USA">미국(워싱턴)</option>
                                <option value="뉴욕">뉴욕</option>
                                <option value="Paris">파리</option>
                                <option value="Switzerland">스위스</option>
                                <option value="Egypt">이집트</option>
                                <option value="Maldive">몰디브</option>
                                <option value="Bangkok">방콕</option>
                                <option value="Hanoi">하노이</option>
                                <option value="HongKong">홍콩</option>
                                <option value="Macau">마카오</option>
                                <option value="Beijing">베이징</option>
                                <option value="Australia">호주</option>
                                <option value="Guam">괌</option>
                            </select>
                        </div>
                    </div>
                    <div>번역</div>
                </div>
                <div class="tripWeather">날씨</div>
                <div class="tripMoney">환율</div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{fragments/sub/footer::footer}"></footer>
<script src="https:cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    // tripTime
    const Mexico = getWorldTime(-6); // 멕시코
    const USA = getWorldTime(-5); // 미국(워싱턴)
    const NewYork = getWorldTime(-5); // 뉴욕
    const Paris = getWorldTime(+1); // 파리
    const Switzerland = getWorldTime(+1); // 스위스
    const Egypt = getWorldTime(+2); // 이집트
    const Maldive = getWorldTime(+5); // 몰디브
    const Bangkok = getWorldTime(+7); // 방콕
    const Hanoi = getWorldTime(+7); // 하노이
    const HongKong = getWorldTime(+8); // 홍콩
    const Macau = getWorldTime(+8); // 마카오
    const Beijing = getWorldTime(+8); // 베이징
    const Japan = getWorldTime(+9); // 일본
    const Korea = getWorldTime(+9); // 한국
    const Australia = getWorldTime(+10); // 호주
    const Guam = getWorldTime(+10); // 괌

    let start = $('#start').val();
    let finish = $('#finish').val();
    let time = 0;

    function getWorldTime(tzOffset) { // 24시간제
        const now = new Date();
        const tz = now.getTime() + (now.getTimezoneOffset() * 60000) + (tzOffset * 3600000);
        now.setTime(tz);

        return now.setTime(tz);
    };

    $("#start").change(function () {
        start = $('#start option:selected').val();
        time = Math.floor((eval(start) - eval(finish)) / 3600000);
        if (time == 0) {
            $(".tripTime>h2").text("시차는 도착지와 같습니다.");
        } else {
            $(".tripTime>h2").text("시차는 " + time + "시간 입니다.");
        }
    });

    $("#finish").change(function () {
        finish = $('#finish option:selected').val();
        time = Math.floor((eval(start) - eval(finish)) / 3600000);
        if (time == 0) {
            $(".tripTime>h2").text("시차는 도착지와 같습니다.");
        } else {
            $(".tripTime>h2").text("시차는 " + time + "시간 입니다.");
        }
    });
</script>
<script src="/js/sub/header.js"></script>
<script src="/js/sub/footer.js"></script>
</body>
</html>