@charset "utf-8";

section{
    position: relative;
    top: 150px;
    max-width: 1320px;
    padding: 0 60px;
    margin: 0 auto;
}


.nyInquiryWarp h2{
    font-weight: 700;
    border-bottom: 1px solid #333;
    padding: 10px;
}
.nyInquiryWarp .nyInquiryBox{
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.nyInquiryWarp .nyInquiryBox .nyInquiryInBox{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    /* align-items: end; */
}
.nyInquiryWarp .nyInquiryBox .nyInquiryInBox>span{
    font-size: 2rem;
    font-weight: 500;
    color: #333;
}
.nyInquiryWarp .nyInquiryBox .nyInquiryInBox .nySearch {
    width: 350px;
    padding: 10px;
}

.nyInquiryWarp .nyInquiryBox .nyInquiryInBox .nySearch select {
    width: 150px;
    border-radius: 20px;
    border: none;
    background: #0065BA;
    color: #fff;
    padding: 10px;
}
.nyInquiryWarp .nyInquiryBox .nyInquiryInBox .nySearch option {
    /* height: 30px; */
    background: #000;
}

.nyInquiryWarp .nyInquiryBox .nyInquiryInBox .nyInquiryTitle input{
    width: 805px;
    height: 40px;
    border: 1px solid #555;
    padding-left: 10px;

}
.nyInquiryWarp .nyInquiryBox .nyInquiryInBox .nyInquiryContent input{
    width: 805px;
    height: 300px;
    border: 1px solid #555;
    padding-left: 10px;

}
.nyInquirySend{
    text-align: center;
}
.nyInquirySend .uploadFile{
    margin-top: 30px;
    /* margin-left: 35px; */
    width: 400px;
    height: 40px;
}
.nyInquirySend .fileBtn{
    /* width: 200px; */
    background: #0065BA;
}
.nyInquiryWarp .nyInquiryBox .nyInquiryUp{
    text-align: end;
    margin-right: 110px;
}
.nyInquiryInBox .nyInquirySend {
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px 0 0 5px;
    vertical-align: middle;
    height: 30px;
    border: 1px solid #eee;
    width: 200px;
    color: #aaa;

}
.nyInquirySend label {
    display: inline-block;
    padding: 0 16px;
    height: 30px;
    border-radius: 0px 5px 5px 0;
    color: #fff;
    vertical-align: middle;
    background-color: #0065BA;
    cursor: pointer;
    /* margin-left: -4px; */
}

/* .nyInquirySend  label > input{
    display: none;
} */

.nyInquiryWarp .nyInquiryBox .nyInquiryUp button{
    border: none;
    background: #0065BA;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}

