<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<footer class="nyFooterBox1 footer" th:fragment="footer">
    <div class="bg">
        <div class="nyFooterNav">
            <ul class="nyFooterNavMain">
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">저작권정책</a></li>
                <li><a href="#">이메일집단수집거부</a></li>
                <li><a href="#">본인확인서비스</a></li>
                <li><a href="#">오시는길</a></li>
                <li></li>
                <li>
                    <div class="nyFamily">
                        <div class="nyFamilyText">
                            <i class="nyFamilyIcon" role=" img"></i> GitHub
                        </div>
                        <ul>
                            <li><a href="https://github.com/naxomis" target="_blank">김나연</a></li>
                            <li><a href="https://github.com/wan0706" target="_blank">오은준</a></li>
                            <li><a href="https://github.com/yoong0304" target="_blank">이재웅</a></li>
                            <li><a href="https://github.com/HoneyJH" target="_blank">홍지혜</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="nyFooterTexts">
                <!-- <p>서울특별시 강남구 삼성로 512 삼성동빌딩 10층 | 전화 1588-2539</p>
                <p>Copyfight 2023 TRIPLE. All Rights Reserved.</p> -->
                <p>SkyCode</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>