<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<header class="jh" th:fragment="header">
    <div class="header">
        <div class="logo"><a href="/">SkyCode</a></div>
        <div class="navBg2"></div>
        <div class="navBg1"></div>
        <nav>
            <ul class="main">
                <li>
                    <a href="#">여행추천</a>
                </li>
                <li><a href="#">여행리뷰</a>
                    <ul class="sub">
                        <li><a href="#">국내 여행</a></li>
                        <li><a href="#">해외 여행</a></li>
                    </ul>
                </li>

                <li><a href="#">여행상품</a>
                    <ul class="sub">
                        <li><a href="#">비행기</a></li>
                        <li><a href="#">패키지</a></li>
                    </ul>
                </li>

                <li><a href="/map">지도</a>
                </li>
                <li><a href="#">이벤트</a>
                    <ul class="sub">
                        <li><a href="#">진행중 이벤트</a></li>
                        <li><a href="#">종료된 이벤트</a></li>
                        <li><a href="#">당첨자 발표</a></li>
                    </ul>
                </li>
                <li><a href="#">고객센터</a>
                    <ul class="sub">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">문의</a></li>
                        <li><a href="#">Q&A</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="search_user">
            <img class="jhicon cart" src="/subImages/Cart.png" alt="">
            <img class="jhicon searchBtn" src="/subImages/alarmMenu.png" alt="">
            <img class="jhicon userModal" src="/subImages/searchUser.png" alt="user">

            <!-- user  -->
            <div class="jhModalUser">
                <div class="jhModalUserBg"></div>
                <div class="jhUser">
                    <button class="closeMenu">X</button>
                    <button class="jhicon cartMenu">장바구니</button>
                    <button class="jhicon alarmMenu">내 알람</button>
                    <h2>홍지혜</h2>
                    <img class="userImg" src="/subImages/UserImg.jpg" alt="userImg">
                    <div class="jhuserBox1">
                        <ul>
                            <li><a href="#">8</a></li>
                            <li><a href="#">리뷰</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">5</a></li>
                            <li><a href="#">좋아요</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">1</a></li>
                            <li><a href="#">쿠폰</a></li>
                        </ul>
                    </div>
                    <div class="jhuserBox2">
                        <ul>
                            <li><a href="user_shopping/orderList">예약<div></div></a></li>
                            <li><a href="#">프로필<div></div></a></li>
                            <li><a href="#">여행도구 <div></div></a></li>
                            <li><a href="#">설정<div></div></a></li>
                        </ul>
                    </div>
                    <div class="jhuserBox3">
                        <div></div>
                        <ul>
                            <li>공지사항</li>
                            <li>오프라인 가이드</li>
                            <li>일행초대</li>
                            <li>고객센터</li>
                        </ul>
                        <img src="/subImages/banner123.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>

</html>