<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--User Style-->
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/typo.css}" rel="stylesheet">
    <link th:href="@{/css/sub/header.css}" rel="stylesheet">
    <link th:href="@{/css/sub/footer.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/review/newReview.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body>
<!--header-->
<header th:replace="~{fragments/sub/header::header}"></header>

<!--body-->
<div class="wrap">
    <h2 class="newReview">리뷰 등록하기</h2>
    <hr>
    <div class="container">
        <form class="formContainer" action="/review/create" method="post">
            <div class="nickNameArea">
                <label class="nickName">닉네임</label>
                <input type="text" class="titleInput" name="nickName" placeholder="제목을 입력해주세요">
            </div>
            <div class="titleArea">
                <label class="reviewTitle">제목</label>
                <input type="text" class="titleInput" name="reviewTitle" placeholder="제목을 입력해주세요">
            </div>
            <div class="contentArea">
                <label class="body">내용</label>
                <textarea class="contentTextArea" rows="10" name="body" placeholder="내용을 입력해주세요"></textarea>
            </div>

            <!-- 이미지 첨부 부분-->
            <div th:if="${#lists.isEmpty(itemFormDto.itemImgDtoList)}">
                <!--
                    itemFormDto.itemImgDtoList 가 비어있는지 검사합니다. 해당 리스트에 이미지 관련 정보가 없을 때 실행됩니다.
                    #lists.isEmpty 함수는 리스트가 비어있는지 여부를 확인하는 Thymeleaf 내장 함수입니다.
                    여기서는 상품 이미지 업로드가 처음 실행되거나, 이미지 정보가 없을 경우의 처리를 담당합니다
                -->
                <div class="form-group" th:each="num: ${#numbers.sequence(1,5)}">
                    <!--
                        이미지 정보가 없을 때, 1부터 5까지의 숫자 범위를 반복하며 폼을 생성합니다.
                        th:each 속성을 사용하여 각 숫자에 대해 반복 작업을 수행합니다.
                    -->
                    <div class="custom-file img-div">
                        <input type="file" class="custom-file-input" name="itemImgFile">
                        <label class="custom-file-label" th:text="상품이미지 + ${num}"></label>
                    </div>
                </div>
            </div>

            <div th:if="${not #lists.isEmpty(itemFormDto.itemImgDtoList)}">
                <!--
                    not 키워드를 사용하여 조건을 부정합니다.
                    이미지 정보가 있는 경우, itemFormDto.itemImgDtoList 에 이미지 정보가 있을 때 실행됩니다.
                -->
                <div class="form-group" th:each="itemImgDto, status: ${itemFormDto.itemImgDtoList}">
                    <!--
                        이미지 정보가 있는 경우, itemFormDto.itemImgDtoList 에 포함된 각 이미지 정보에 대해 반복 작업을 수행합니다.
                        status 객체를 사용하여 현재 반복 상태를 추적할 수 있습니다.
                    -->
                    <div class="custom-file img-div">
                        <input type="file" class="custom-file-input" name="itemImgFile">
                        <input type="hidden" name="itemImgIds" th:value="${itemImgDto.id}">
                        <!--
                            이미지 ID를 input 요소의 value 속성으로 설정합니다.
                            이는 이미지 ID를 서버로 전달하기 위한 용도로 사용됩니다.
                        -->
                        <label class="custom-file-label"
                               th:text="${not #strings.isEmpty(itemImgDto.oriImgName)} ? ${itemImgDto.oriImgName} : '상품이미지' + ${status.index+1}">

                        </label>
                        <!--
                            index 는 0부터 시작하므로 +1
                            이미지 이름을 표시하는 부분입니다. 이미지 이름이 비어있지 않은 경우, 해당 이미지의 이름을 표시합니다.
                            그렇지 않은 경우, 이미지의 순번을 통해 "상품이미지 1", "상품이미지 2"와 같은 기본 이름을 생성하여 표시합니다.
                        -->
                    </div>
                </div>
            </div>







            <div class="btnArea">
                <button type="submit" class="btn createBtn">작성</button>
            </div>
        </form>
        <a href="/reviewSub"><button type="submit" class="btn cancelBtn">취소</button></a>
    </div>
</div>


<!--footer-->
<footer th:replace="~{fragments/sub/footer::footer}"></footer>


<!--User Script-->
<script src="https:cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="/js/review/subHeader.js"></script>
<script src="/js/review/reviewSub.js"></script>
<script src="/js/review/subFooter.js"></script>
</body>
</html>