<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--User Style-->
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/typo.css}" rel="stylesheet">
    <link th:href="@{/css/sub/header.css}" rel="stylesheet">
    <link th:href="@{/css/sub/footer.css}" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/sub/header::header}"></header>


<div>

</div>







<footer th:replace="~{fragments/sub/footer::footer}"></footer>


<script src="https:cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="/js/review/subHeader.js"></script>
<script src="/js/review/subFooter.js"></script>
</body>
</html>