<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--User Style-->
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/typo.css}" rel="stylesheet">
    <link th:href="@{/css/sub/header.css}" rel="stylesheet">
    <link th:href="@{/css/sub/footer.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/review/reviewShow.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
<header th:replace="~{fragments/sub/header::header}"></header>


<div class="wrap">
    <div class="container">
        <div class="userReviewArea">
            <div class="userReviewTop">
                <div class="userInfo">
                    <div class="userIcon">
                        <i class="fa-solid fa-circle-user"></i>
                    </div>
                    <div class="userNE">
                        <div class="userNickName">
                            <h3>[[${reviewDto.nickName}]]</h3>
                        </div>
                        <div class="userEmail"><span>[[${reviewDto.email}]]</span></div>
                    </div>
                    <div th:if="${!#strings.isEmpty(userInfo)}" class="newBtn">
                        <a href="/review/newReview">
                            <button>새 글 작성하기</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="userReviewContent">
                <div class="slideShow">
                    <ul class="sliders">
                        <li class="slider1">
                            <img th:src="${reviewDto.bigImgUrl}" th:alt="${reviewDto.bigImgName}">
                        </li>
                    </ul>
                    <div class="pnBtn rightBtn"><i class="fa-solid fa-arrow-right"></i></div>
                    <div class="pnBtn leftBtn"><i class="fa-solid fa-arrow-left"></i></div>
                </div>
                <div class="contentArea">
                    <div class="contentTitleArea">
                        <div class="title">
                            <h2 th:text="${reviewDto.reviewTitle}">테스트리뷰1</h2>
                        </div>
                        <div class="reviewDate">
                            <span th:text="${reviewDto.reviewTime}"></span>
                        </div>
                        <div class="hashtag"><span>#집보내줘</span></div>
                    </div> <!-- contentTitleArea 끝 -->
                    <div class="mainContent" th:text="${reviewDto.contents}">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur modi laudantium eum harum
                        soluta magni incidunt corporis eius tempora itaque aut doloribus, omnis consectetur commodi
                        architecto saepe voluptas quia vel nihil. Officia officiis eveniet aperiam, voluptates ut a
                        omnis modi accusantium, ad qui inventore hic vel temporibus. Modi quasi ducimus ullam atque, ad
                        natus rerum excepturi ab ipsa ipsam, minus impedit deserunt expedita dolorem omnis minima fugit
                        cupiditate aut eum? Nisi asperiores, illo tempore quasi nobis magnam earum aspernatur cupiditate
                        similique laborum provident itaque repudiandae! Excepturi non accusantium assumenda illum nulla
                        atque sapiente, architecto adipisci vitae corporis sint fuga nostrum id at quaerat dolore.
                        Sapiente, fugit! Natus, quas libero reiciendis tempora perferendis consequuntur sint repudiandae
                        reprehenderit quo eius sit id inventore. Suscipit eveniet deserunt maiores? Minima similique
                        quis perferendis molestiae veniam, consequatur velit nisi minus rerum odio et ullam asperiores
                        recusandae ex nobis fuga animi! Neque, ducimus deleniti molestias consequatur vel hic earum
                        voluptate id sunt laborum quia itaque culpa harum dolores asperiores voluptates corporis
                        reprehenderit deserunt officia error velit. Maiores officia neque ea, quasi unde sed veritatis,
                        aliquid praesentium itaque qui quo voluptates vitae perspiciatis ducimus similique cum
                        accusantium laudantium, nam voluptate laboriosam natus. Corrupti suscipit recusandae cupiditate
                        sunt.
                    </div>
                </div>
            </div>
            <div class="userReviewBt">
                <div class="btns">
                    <a th:if="${!#strings.isEmpty(userInfo) && userInfo.getEmail == reviewDto.email}"
                       th:href="@{/review/{id}/edit (id=${reviewDto.id})}">
                        <button type="submit" class="editBtn">글 수정</button>
                    </a>
                    <a th:if="${!#strings.isEmpty(userInfo) && userInfo.getEmail == reviewDto.email}"
                       th:href="@{/review/{id}/delete (id=${reviewDto.id})}">
                        <button type="submit" class="deleteBtn">글 삭제</button>
                    </a>
                    <a href="/review/reviewSub">
                        <button type="submit" class="deleteBtn">목록</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- 댓글 작성 부분 -->
    <div class="oej_bigbox">
        <div class="oej_box">
            <div class="comment-write">
                <!-- css 다 끝나고 나서 작성자 type hidden으로 바꾸기 -->
                <div class="oej_icon">

                    <!-- input창에 있는  th:value="${nickname}"  id="commentWriter1" 이거 2개 i 태그로 옮겨 놨습니다-->
                    <!-- <input type="text"   placeholder="작성자">  -->

                    <i th:value="${nickname}" class="fa-solid fa-circle-user commentWriter"></i>
                </div>
                <input type="text" id="commentContents" placeholder="내용">
                <button th:if="${#strings.isEmpty(userInfo)}" id="reviewLink">댓글작성</button>
                <button class="oej_button2" th:unless="${#strings.isEmpty(userInfo)}" onclick="commentWrite()">댓글작성
                </button>
                <!--        이  버튼은 둘중에 하나만 보이는거라 두개 같이 두셔야해요_지혜        -->
            </div>


            <!-- 댓글 출력 수정 부분 -->
            <div id="error-message" style="color: red;"></div>
            <div id="comment-list">
                <form class="oej_form">
                    <label class="oej_name" for="contents">작성자</label>
                    <i th:value="${nickname}" class="fa-solid fa-circle-user commentWriter"></i>


                    <div class="oej_smallBox">
                        <!-- <label class="oej_content" for="contents">내용</label> -->
                        <input id="contents" name="contents" placeholder="내용을 입력하세요"></input>

                        <div class="oej_time2">
                            <label class="oej_time" for="contents">작성시간</label>
                            <input id="contents2" name="contents" placeholder="내용을 입력하세요"></input>
                        </div>
                    </div>

                    <div th:each="comment: ${commentList}">
                        <p th:text="${comment.commentWriter}"></p>
                        <p th:text="${comment.commentContents}"></p>
                        <p th:text="${comment.commentCreatedTime}"></p>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <footer th:replace="~{fragments/sub/footer::footer}"></footer>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/js/sub/header.js"></script>
    <script src="/js/review/reviewShow.js"></script>
    <script src="/js/sub/footer.js"></script>
    <script>
    // 리뷰 경고창
    $('#reviewLink').click(function (event) {
        event.preventDefault(); // 링크의 기본 동작을 중지

        // 경고 창을 표시
        var confirmation = confirm("로그인이 필요한 서비스입니다. 로그인 하시겠습니까?");

        if (confirmation) {
            // 사용자가 확인을 클릭한 경우 로그인 페이지로 이동
            window.location.href = "/member/login";
        }
    });




    </script>

    <script th:inline="javascript">
    const commentWrite = () => {
        const writer = document.getElementById("commentWriter").value;
        const contents = document.getElementById("commentContents").value;
        console.log("작성자: ", writer);
        console.log("내용: ", contents);
        const id = [[${reviewDto.id}]];    // 게시글 번호
        $.ajax({
           // 요청방식: post, 요청주소: /comment/save, 요청데이터: 작성자, 작성내용, 게시글번호
           type: "post",
           url: "/comment/save",
           data: {
               "commentWriter": writer,
               "commentContents": contents,
               "reviewId": id
           },
           success: function (res) {
               console.log("요청성공", res);
               let output = "<table>";
               output += "<th>작성자</th>";
               output += "<th>내용</th>";
               output += "<th>작성시간</th></tr>";

               for (let i in res) {
                   output += "<tr>";
                   output += "<td>" + res[i].commentWriter + "</td>";
                   output += "<td>" + res[i].commentContents + "</td>";

                   // LocalDateTime 값을 포맷하여 출력
                   let commentCreatedTime = new Date(res[i].commentCreatedTime);
                   let formattedDate = commentCreatedTime.getFullYear() + '-' +
                   ('0' + (commentCreatedTime.getMonth() + 1)).slice(-2) + '-' +
                   ('0' + commentCreatedTime.getDate()).slice(-2);

                   output += "<td>" + formattedDate + "</td>";
                   output += "</tr>";
               }
               output += "</table>";
               document.getElementById('comment-list').innerHTML = output;
               document.getElementById('commentContents').value = '';
           },
           error: function (err) {
               // console.log("요청실패", err);
               alert("댓글 등록에 실패했습니다.");
               let errorMessageElement = document.getElementById('error-message');
               errorMessageElement.textContent = "댓글 저장에 실패했습니다. 다시 시도하세요.";
           }
        });
    }




    </script>


</body>

</html>