
.QContents {
     position: relative;
     top: 50px;
    max-width: 900px;
    margin: 0 auto;
    height: 650px;
    margin-bottom: 50px;
  border-bottom: 2px solid #ccc;
}

/* 첫번째말풍선 */

.QInfo {
    position: absolute;
        width: 350px;
        height: 200px;
        top: 120px;
        left: 30px;
        background-color: #87c0f5;
        border: 8px solid #003999;
        border-radius: 30px;
        box-shadow: 2px 2px 4px #003999;;
}
    .QInfo:before {
        border: 25px solid;
        border-color: transparent #003999 transparent transparent;
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
  }

  .QInfo:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border: 14px solid;
    border-color: transparent #87c0f5 transparent transparent;
  }



/* 제목 */
.QInfo h2{
    display: flex;
    font-size: 2.3rem;
    width: 330px;
    height: 50px;
    line-height: 50px;
    margin-top: -60px;
}

/* 내용 */
.QInfo .oej_txt {
    font-size: 1.9rem;
    width: 330px;
    height: 200px;
   display: flex;
   padding-left: 15px;
   padding-top: 10px;
    color: #000000;
}

/* 두번째 말풍선 */
.oej_box {
    position: absolute;
    width: 350px;
    height: 200px;
    top: 230px;
    right: -145%;
    background-color: #e3eefc;
    border: 8px solid #003999;;
    border-radius: 30px;
    box-shadow: 2px 2px 4px #003999;;
}

.oej_box:before {
    border: 25px solid;
    border-color: transparent transparent transparent #003999;
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}

.oej_box:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border: 14px solid;
    border-color: transparent transparent transparent #e3eefc;
}


/* 카테고리 */
.oej_box .oej_category{
    width: 210px;
    height: 30px;
    line-height: 30px;
    margin-top: -40px;
   margin-right: -50px;
    padding-left: 10px;
}

/* 공개여부 */
 .oej_open {
    margin-top: -30px;
   margin-left: 210px;
    width: 140px;
    height: 30px;
    line-height: 30px;

}

 .oej_open i {
    font-size: 25px;
    padding-right: 10px;
    color: #0065BA;
}


/* 등록시간 */

.oej_time {
    position: absolute;
    width: auto;
    height: 40px;
    line-height: 40px;
    right: 30px;
    top:200px;

}

/* 답변 */

.oej_answer {
    font-size: 2.0rem;
    width: 320px;
    height: 200px;
    padding-left: 30px;
    padding-top: 10px;
}

/* 등록된 리뷰가 없을때 */
.AllNull {
    font-size: 1.8rem;
    text-align: center;
    padding: 150px 0;
}



