
.QContents {
     position: relative;
     top: 50px;
    max-width: 1320px;
    height: 650px;
    border-radius: 100px;
    border: 7px dashed #6798ee ;
    margin-bottom: 50px;
}

/* 첫번째말풍선 */

.QInfo {
    position: absolute;
        width: 500px;
        height: 200px;
        top: 120px;
        left: 100px;
        background-color: #fff;
        border: 8px dashed #8ED3FF;
        border-radius: 30px;
        box-shadow: 2px 2px 4px #8ED3FF;
}
    .QInfo:before {
        border: 25px solid;
        border-color: transparent transparent transparent #8ED3FF;
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
  }

  .QInfo:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border: 14px solid;
    border-color: transparent transparent transparent #fff;
  }



/* 제목 */
.QInfo h2{
    display: flex;
    font-size: 30px;
    width: 480px;
    height: 50px;
    line-height: 50px;
    margin-top: -60px;
    /* border: 1px solid rebeccapurple; */
}

/* 내용 */
.QInfo .oej_txt {
    width: 480px;
    height: 200px;
   display: flex;
   padding-left: 15px;
   padding-top: 10px;
    color: #003999;
    /* border: 1px solid red; */
}

/* 두번째 말풍선 */
.oej_box {
    position: absolute;
    width: 500px;
    height: 200px;
    top: 230px;
    right: -130%;
    background-color: #fff;
    border: 8px dashed #8ED3FF;
    border-radius: 30px;
    box-shadow: 2px 2px 4px #8ED3FF;
}

.oej_box:before {
    border: 25px solid;
    border-color: transparent #8ED3FF transparent transparent;
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
}

.oej_box:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border: 14px solid;
    border-color: transparent #fff transparent transparent;
}


/* 카테고리 */
.oej_box .oej_category{
    width: 240px;
    height: 30px;
    line-height: 30px;
    margin-top: -40px;
   margin-right: -50px;
    padding-left: 10px;

}

/* 공개여부 */
 .oej_open {
    margin-top: -30px;
   margin-left: 250px;
    width: 240px;
    height: 30px;
    line-height: 30px;
}

 .oej_open i {
    font-size: 25px;
    padding-right: 10px;
    color: #0065BA;
}


/* 등록시간 */

.oej_time {
    position: absolute;
    width: auto;
    height: 40px;
    line-height: 40px;
    right: 30px;
    top:200px;
     /* border: 1px solid red; */
}

/* 답변 */

.oej_answer {
    width: 600px;
    height: 200px;
    padding-left: 30px;
    padding-top: 10px;
    color: #073a92;
}

/* 등록된 리뷰가 없을때 */
.AllNull {
    font-size: 1.8rem;
    text-align: center;
    padding: 150px 0;
}



