<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<footer class="nyFooterBox1" th:fragment="footer">
    <div class="bg">
        <div class="nySend">
            <img src="mainImages/layered-waves-haikei3.png" alt="">
        </div>
        <div class="nyWave1">
            <img src="mainImages/wave_768 1.png" alt="">
        </div>
        <div class="nyWave2">
            <img src="mainImages/wave2_768 1.png" alt="">
        </div>
    </div>
    <div class="nyFooterIcons">
        <div class="nyFooterIcon1">
            <img src="mainImages/stone2.png" alt="">
        </div>
        <div class="nyFooterIcon2">
            <img class="nyFI nyFI1" src="mainImages/icons8-seagull-48.png" alt="">
            <img class="nyFI nyFI2" src="mainImages/ship.svg" alt="">
        </div>
        <div class="nyFooterIcon3">
            <img class="nyF nyF1" src="mainImages/nyF1.png" alt="">
            <img class="nyF nyF2" src="mainImages/summer_map_deco_right.png" alt="">
        </div>
        <div class="nyFooterIcon4">
            <img class="nyFoI nyFoI1" src="mainImages/icons8-starfish-48.png" alt="">
            <img class="nyFoI nyFoI2" src="mainImages/icons8-spiral-shell-48.png" alt="">
            <img class="nyFoI nyFoI3" src="mainImages/summer_content_title_img03.png" alt="">
        </div>
    </div>
    <div class="nyFamilySite">
        <div></div>
    </div>
    <div class="nyFooterNav">
        <ul class="nyFooterNavMain">
            <li><a href="#">개인정보처리방침</a></li>
            <li><a href="#">저작권정책</a></li>
            <li><a href="#">이메일집단수집거부</a></li>
            <li><a href="#">본인확인서비스</a></li>
            <li><a href="#">오시는길</a></li>
            <li></li>
            <li>
                <div class="nyFamily">
                    <div class="nyFamilyText">
                        <i class="nyFamilyIcon" role="img"></i> GitHub
                    </div>
                    <ul>
                        <li><a href="https://github.com/naxomis/javafs" target="_blank">김나연</a></li>
                        <li><a href="https://github.com/moonsunho/javafs" target="_blank">문선호</a></li>
                        <li><a href="https://github.com/wan0706/javafs" target="_blank">오은준</a></li>
                        <li><a href="https://github.com/yoong0304/javafs" target="_blank">이재웅</a></li>
                        <li><a href="https://github.com/HoneyJH/Javafs" target="_blank">홍지혜</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="nyFooterTexts">
            <p>GitHub</p>
        </div>

        <div class="nyOutTop">
            <div class="nyTop">
                <a href="#">
                    <div>
                        <i class="fa-solid fa-plane-departure nyPlane1"></i>
                        <i class="fa-solid fa-plane-up nyPlane2"></i>
                    </div>
                    <span>TOP</span>
                </a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>