<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
  <link th:href="@{/css/reset.css}" rel="stylesheet">
  <link th:href="@{/css/typo.css}" rel="stylesheet">
  <link th:href="@{/css/login/loginForm.css}" rel="stylesheet">
  <link th:href="@{/css/review/header.css}" rel="stylesheet">
  <link th:href="@{/css/review/footer.css}" rel="stylesheet">

</head>

<body>

<!-- 헤더 -->
<header class="jh">
  <div class="header">
    <div class="logo"><a href="../main/main.html">SkyCode</a></div>
    <div class="navBg2"></div>
    <div class="navBg1"></div>
    <nav>
      <ul class="main">
        <li><a href="#">여행추천</a>
        </li>
        <li><a href="#">여행리뷰</a>
          <ul class="sub">
            <li><a href="#">국내 여행</a></li>
            <li><a href="#">해외 여행</a></li>
          </ul>
        </li>

        <li><a href="#">여행상품</a>
          <ul class="sub">
            <li><a href="#">비행기</a></li>
            <li><a href="#">패키지</a></li>
          </ul>
        </li>

        <li><a href="map_JH.html">지도</a>
        </li>
        <li><a href="#">이벤트</a>
          <ul class="sub">
            <li><a href="#">진행중 이벤트</a></li>
            <li><a href="#">종료된 이벤트</a></li>
            <li><a href="#">당첨자 발표</a></li>
          </ul>
        </li>
        <li><a href="#">고객센터</a>
          <ul class="sub">
            <li><a href="#">공지사항</a></li>
            <li><a href="#">문의</a></li>
            <li><a href="#">Q&A</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="search_user">
      <img class="jhicon cart" src="../subImages/Cart.png" alt="">
      <img class="jhicon searchBtn" src="../subImages/alarmMenu.png" alt="">
      <img class="jhicon userModal" src="../subImages/searchUser.png" alt="user">

      <!-- user  -->
      <div class="jhModalUser">
        <div class="jhModalUserBg"></div>
        <div class="jhUser">
          <button class="closeMenu">X</button>
          <button class="jhicon cartMenu">장바구니</button>
          <button class="jhicon alarmMenu">내 알람</button>
          <h2>홍지혜</h2>
          <img class="userImg" src="../subImages/UserImg.jpg" alt="userImg">
          <div class="jhuserBox1">
            <ul>
              <li>8</li>
              <li>내여행</li>
            </ul>
            <ul>
              <li>5</li>
              <li>리뷰</li>
            </ul>
            <ul>
              <li>1</li>
              <li>여행기</li>
            </ul>
          </div>
          <div class="jhuserBox2">
            <ul>
              <li>내 저장 <div><span class="userCount">71</span></div>
              </li>
              <li>내 예약<div></div>
              </li>
              <li>쿠폰함<div><span class="userCount">0</span>개</div>
              </li>
              <li>마일리지<div><span class="userCount">0</span>p</div>
              </li>
            </ul>
          </div>
          <div class="jhuserBox3">
            <div></div>
            <ul>
              <li>공지사항</li>
              <li>오프라인 가이드</li>
              <li>일행초대</li>
              <li>고객센터</li>
            </ul>
            <img src="../subImages/banner123.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- 로그인 폼 -->

<section class="oej_container">

  <div class="oej">
    <div class="header_oej">회원가입</div>

    <div class="oej_name">
      <p>이름</p>
      <input class="oej_n" type="text" placeholder="예) 홍길동">
    </div>

    <div class="oej_id">
      <p>아이디</p>
      <input class="oej_text" type="text" placeholder="예) skycode">
    </div>

    <div class="oej_pw">
      <p>비밀번호</p>
      <input class="oej_pass" type="password" placeholder="영문, 숫자, 특수문자 조합 8-16자">
    </div>

    <div class="oej_pwcheck">
      <p>*비밀번호 확인</p>
      <input class="oej_pwchecked" type="password" placeholder="비밀번호를 다시 입력해 주세요">
    </div>

    <div class="oej_number">
      <p>전화번호</p>
      <select>
        <option value="">대한민국 +82</option>
      </select>
      <input class="oej_phone" type="tel" placeholder="예) 010-1234-5678">
    </div>

    <div class="oej_birthday">
      <p> 생년월일</p>
      <input class="oej_y" type="date" value="xxx" min="yyy" max="zzz">
    </div>

    <!-- 이메일 -->
    <div class="oej_emailid">
      <p>이메일</p>
      <input class="oej_mail" type="tel" placeholder="" maxlength="18" /> @
      <input class="oej_mail2" type="tel" placeholder="" maxlength="18">
      <select class="oej_select" title="이메일 도메인 주소 선택" onclick="setEmailDomain(this.value);return false;">
        <option value="">-선택-</option>
        <option value="">-직접입력하기-</option>
        <option value="naver.com">naver.com</option>
        <option value="google.com">google.com</option>
        <option value="hanmail.net">hanmail.net</option>
        <option value="nate.com">nate.com</option>
        <option value="kakao.com">kakao.com</option>
        <option value="kakao.com">gmail.com</option>
      </select>
    </div>


    <div class="oej_address">
      <p>주소</p>
      <input class="oej_add" type="text" placeholder="상세한 주소를 입력해 주세요">
    </div>

    <!-- Join 버튼 -->
    <input class="oej_join" type="submit" value="JOIN US">

  </div>
</section>


<!-- 푸터 -->
<footer class="nyFooterBox1">
  <div class="bg">
    <div class="nyFooterNav">
      <ul class="nyFooterNavMain">
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">저작권정책</a></li>
        <li><a href="#">이메일집단수집거부</a></li>
        <li><a href="#">본인확인서비스</a></li>
        <li><a href="#">오시는길</a></li>
        <li></li>
        <li>
          <div class="nyFamily">
            <div class="nyFamilyText">
              <i class="nyFamilyIcon" role="img"></i> GitHub
            </div>
            <ul>
              <li><a href="https://github.com/naxomis/javafs" target="_blank">김나연</a></li>
              <li><a href="https://github.com/moonsunho/javafs" target="_blank">문선호</a></li>
              <li><a href="https://github.com/wan0706/javafs" target="_blank">오은준</a></li>
              <li><a href="https://github.com/yoong0304/javafs" target="_blank">이재웅</a></li>
              <li><a href="https://github.com/HoneyJH/Javafs" target="_blank">홍지혜</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="nyFooterTexts">
        <!-- <p>서울특별시 강남구 삼성로 512 삼성동빌딩 10층 | 전화 1588-2539</p>
        <p>Copyfight 2023 TRIPLE. All Rights Reserved.</p> -->
        <p>SkyCode</p>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="js/nysubfooter.js"></script>
<script src="js/myPage_JHscript.js"></script>

</body>

</html>