<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
  <link th:href="@{/css/reset.css}" rel="stylesheet">
  <link th:href="@{/css/typo.css}" rel="stylesheet">
  <link th:href="@{/css/login/loginForm.css}" rel="stylesheet">
  <link th:href="@{/css/review/header.css}" rel="stylesheet">
  <link th:href="@{/css/review/footer.css}" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="/js/sub/header.js"></script>
  <script src="/js/sub/footer.js"></script>

</head>

<body>
<header th:replace="~{fragments/sub/header::header}"></header>



<!-- 로그인 폼 -->

<section class="oej_container">

  <div class="oej">
    <div class="header_oej">회원가입</div>

    <div class="oej_name">
      <p>이름</p>
      <input class="oej_n" type="text" placeholder="예) 홍길동">
    </div>

    <div class="oej_id">
      <p>아이디</p>
      <input class="oej_text" type="text" placeholder="예) skycode">
    </div>

    <div class="oej_pw">
      <p>비밀번호</p>
      <input class="oej_pass" type="password" placeholder="영문, 숫자, 특수문자 조합 8-16자">
    </div>

    <div class="oej_pwcheck">
      <p>*비밀번호 확인</p>
      <input class="oej_pwchecked" type="password" placeholder="비밀번호를 다시 입력해 주세요">
    </div>

    <div class="oej_number">
      <p>전화번호</p>
      <select>
        <option value="">대한민국 +82</option>
      </select>
      <input class="oej_phone" type="tel" placeholder="예) 010-1234-5678">
    </div>

    <div class="oej_birthday">
      <p> 생년월일</p>
      <input class="oej_y" type="date" value="xxx" min="yyy" max="zzz">
    </div>

    <!-- 이메일 -->
    <div class="oej_emailid">
      <p>이메일</p>
      <input class="oej_mail" type="tel" placeholder="" maxlength="18" /> @
      <input class="oej_mail2" type="tel" placeholder="" maxlength="18">
      <select class="oej_select" title="이메일 도메인 주소 선택" onclick="setEmailDomain(this.value);return false;">
        <option value="">-선택-</option>
        <option value="">-직접입력하기-</option>
        <option value="naver.com">naver.com</option>
        <option value="google.com">google.com</option>
        <option value="hanmail.net">hanmail.net</option>
        <option value="nate.com">nate.com</option>
        <option value="kakao.com">kakao.com</option>
        <option value="kakao.com">gmail.com</option>
      </select>
    </div>


    <div class="oej_address">
      <p>주소</p>
      <input class="oej_add" type="text" placeholder="상세한 주소를 입력해 주세요">
    </div>

    <!-- Join 버튼 -->
    <input class="oej_join" type="submit" value="JOIN US">

  </div>
</section>

<footer th:replace="~{fragments/sub/footer::footer}"></footer>



</body>

</html>