<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/typo.css}" rel="stylesheet">
    <link th:href="@{/css/sub/header.css}" rel="stylesheet">
    <link th:href="@{/css/sub/footer.css}" rel="stylesheet">
    <link th:href="@{/css/event/eventSubStyle.css}" rel="stylesheet">
</head>

<body>
<header th:replace="~{fragments/sub/header::header}"></header>
<section class="section">
    <div class="eventSubPage">
        <div class="eventPageTitle">
            <h2 class="eventSubTag"><a href="/event/ongoing">#이벤트</a></h2>
            <div>
                <button><a th:href="'/event/' + ${eventFormDto.id} + '/edit'">수정</a></button>
                <button class="deleteBtn"><a>삭제</a></button>
            </div>
            <div class="deleteModal modal">
                <div class="modal-content">
                    <p>이벤트를 삭제하시겠습니까?</p>
                    <button class="confirmDelete"><a th:href="'/event/' + ${eventFormDto.id} + '/delete'">삭제</a></button>
                    <button class="cancelDelete">취소</button>
                </div>
            </div>
        </div>
        <div class="title">
            <p class="eventSubPageTitle">
                [[${eventFormDto.eventTitle}]]
            </p>
            <span>[[${eventFormDto.eventTime}]]</span>
        </div>
        <div class="eventImg">
            <img th:src="${eventFormDto.bigImgUrl}" th:alt="${eventFormDto.bigImgName}">
        </div>
        <div class="getCoupon"><a href="#">쿠폰 받기!!</a></div>
    </div>
</section>
<footer th:replace="~{fragments/sub/footer::footer}"></footer>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    <!-- Modal -->
    function openModal() {
        $(".deleteModal").css("display", "block");
    }

    function closeModal() {
        $(".deleteModal").css("display", "none");
    }

    $(".deleteBtn").click(function() {
        openModal(); // 모달 열기
    });

    // 삭제 확인 버튼 클릭 시 처리
    $(".confirmDelete").click(function() {
        console.log("삭제되었습니다.");
        closeModal(); // 모달 닫기
    });

    // 취소 버튼 클릭 시 모달 닫기
        $(".cancelDelete").click(function() {
        closeModal(); // 모달 닫기
    });
</script>
<script src="/js/sub/header.js"></script>
<script src="/js/sub/footer.js"></script>

</body>

</html>