<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/typo.css}" rel="stylesheet">
    <!--  <link th:href="@{/css/sub/header.css}" rel="stylesheet">-->
    <!--  <link th:href="@{/css/sub/footer.css}" rel="stylesheet">-->
    <link th:href="@{/css/review/header.css}" rel="stylesheet">
    <link th:href="@{/css/review/footer.css}" rel="stylesheet">
    <link th:href="@{/css/event/eventSubStyle.css}" rel="stylesheet">
</head>


<body>
<header th:replace="~{fragments/sub/header::header}"></header>
    <section class="section">
        <div class="eventSubPage">
            <div>
                <h2 class="eventSubTag">#이벤트</h2>
            </div>
            <div class="eventSubPageTitle">여행사진 투표하기!
                Lorem ipsum dolor sit.
            </div>
            <span>2022.07.22</span>
            <!-- <span>조회 수</span> -->
            <div class="eventImg"><img src="https://dummyimage.com/940X1460/ccc/fff" alt=""></div>
            <div class="getCoupon"><a href="#">쿠폰 받기!!</a></div>
        </div>
    </section>
    <footer th:replace="~{fragments/sub/footer::footer}"></footer>
</body>

</html>