<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--User Style-->
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/typo.css}" rel="stylesheet">

    <link th:href="@{/css/sub/header.css}" rel="stylesheet">
    <link th:href="@{/css/sub/footer.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/event/eventForm.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
<!--header-->
<header th:replace="~{fragments/sub/header::header}"></header>

<!--body-->
<div class="wrap">
    <h2 class="newEvent">#이벤트 등록하기</h2>
    <div class="container">
        <form class="formContainer" action="/event/new" enctype="multipart/form-data" method="post"
              th:object="${eventFormDto}">
            <input type="hidden" th:field="*{id}">

            <div class="nickNameArea">
                <label class="eventTitle">제목</label>
                <input type="text" th:field="*{eventTitle}" class="titleInput" name="eventTitle"
                       placeholder="제목을 입력해주세요">
            </div>
            <p th:if="${#fields.hasErrors('eventTitle')}" th:errors="*{eventTitle}" class="fieldError">Incorrect
                data</p>

            <div>
                <select th:field="*{eventStatus}">
                    <option value="ONGOING">진행중</option>
                    <option value="END">종료</option>
                    <option value="WINNER">당첨자</option>
                </select>
            </div>

            <div class="couponCode">
                <label class="couponCode">쿠폰 코드</label>
                <input type="text" th:field="*{couponCode}" class="couponCode" name="couponCode"
                       placeholder="등록할 쿠폰을 입력해주세요">
            </div>

            <div class="contentArea">
                <label class="content">내용</label>
                <textarea class="contentTextArea" th:field="*{content}" rows="10" name="body"
                          placeholder="내용을 입력해주세요"></textarea>
            </div>
            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="fieldError">Incorrect data</p>

            <div>
                <div class="editImg">
                    <div>

                        <div>
                            <input class="upload-name1"
                                   th:placeholder=" *{id} != null ? *{miniOriImgName} : '첨부파일'">
                            <label>썸네일 이미지 선택<input type="file" class="file1" name="eventImgFile1"
                                                    accept="image/*"></label>
                        </div>

                        <img class="eventImgFile1" th:src=" *{id} != null ? *{miniImgUrl} : '/subImages/miniImg.png'"
                             th:alt="*{id} != null ? *{miniImgName} : '썸네일 이미지' ">
                    </div>
                    <div>
                        <div>
                            <input class="upload-name2"
                                   th:placeholder=" *{id} != null ? *{bigOriImgName} : '첨부파일' ">
                            <label>본문 이미지 선택<input type="file" class="file2" name="eventImgFile2"
                                                   accept="image/*"></label>
                        </div>
                        <img class="eventImgFile2" th:src=" *{id} != null ? *{bigImgUrl} : '/subImages/bigImg.png' "
                             th:alt=" *{id} != null ? *{bigImgName} : '본문 이미지' ">
                    </div>
                </div>
            </div>

            <div class="btnArea" th:if="${#strings.isEmpty(eventFormDto.id)}">
                <button th:formaction="@{/event/new}" type="submit" class="btn createBtn">저장</button>
            </div>
            <div class="btnArea" th:unless="${#strings.isEmpty(eventFormDto.id)}">
                <button th:formaction="@{/event/update}" type="submit" class="btn createBtn">수정
                </button>
            </div>

        </form>
        <a href="/event/ongoing">
            <button type="submit" class="btn cancelBtn">취소</button>
        </a>
    </div>
</div>

<!--footer-->
<footer th:replace="~{fragments/sub/footer::footer}"></footer>

<!--User Script-->
<script src="https:cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    // 사진 변경
    $(".file1").on('change', function () {
        var fileName = $(".file1").val();
        $(".upload-name1").val(fileName);
        setImageFromFile(this, '.eventImgFile1');
    });

    $(".file2").on('change', function () {
        var fileName = $(".file2").val();
        $(".upload-name2").val(fileName);
        setImageFromFile(this, '.eventImgFile2');
    });

    function setImageFromFile(input, expression) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $(expression).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    };
</script>
<script src="/js/sub/header.js"></script>
<script src="/js/sub/footer.js"></script>
</body>

</html>