<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{/css/reset.css}" rel="stylesheet">
  <link th:href="@{/css/typo.css}" rel="stylesheet">
  <link th:href="@{/css/event/eventStyle.css}" rel="stylesheet">
  <link th:href="@{/css/review/header.css}" rel="stylesheet">
  <link th:href="@{/css/review/footer.css}" rel="stylesheet">

</head>
<body>
<header th:replace="~{fragments/sub/header::header}"></header>
<section class="section">

  <div class="eventPage">
    <div class="eventPageTitle">
      <h2 class="eventTag">#당첨자 발표</h2>
    </div>
    <div class="currentPage"><span><a href="ongoing">진행중 이벤트</a></span><span><a href="end">종료된 이벤트</a></span><span class="active"><a href="#">당첨자 발표</a></span></div>
    <div class="eventMain">
      <div class="eventBoard">
        <div class="eventContents">
          <div class="eventInfo">
            <div class="eventUser">
              <a href="#">
                <img src="../sub/images/searchUser.png" alt="" class="eventUserImg">
                <div>
                  <p class="eventUserNickName">관리자</p>
                  <span>6시간 전</span>
                </div>
              </a>
            </div>
            <div class="eventText">
              <a href="#">
                <h2 class="eventTitle">Lorem, ipsum dolor sit amet consectetur adipisicing.
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex iste voluptatum et
                  aliquam ut, quisquam veritatis doloremque expedita quis inventore sed eveniet,
                  nemo
                  nobis. Asperiores odit impedit minus accusamus expedita!</p>
                <span>2022-03-03</span>
              </a>
            </div>
            <div class="thumbImg">
              <a href="#"><img src="https://dummyimage.com/240X160/ccc/fff" alt=""></a>
            </div>
          </div>
        </div>
        <div class="eventContents">
          <div class="eventInfo">
            <div class="eventUser">
              <a href="#">
                <img src="../sub/images/searchUser.png" alt="" class="eventUserImg">
                <div>
                  <p class="eventUserNickName">관리자</p>
                  <span>6시간 전</span>
                </div>
              </a>
            </div>
            <div class="eventText">
              <a href="#">
                <h2 class="eventTitle">Lorem, ipsum dolor sit amet consectetur adipisicing.
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex iste voluptatum et
                  aliquam ut, quisquam veritatis doloremque expedita quis inventore sed eveniet,
                  nemo
                  nobis. Asperiores odit impedit minus accusamus expedita!</p>
                <span>2022-03-03</span>
              </a>
            </div>
            <div class="thumbImg">
              <a href="#"><img src="https://dummyimage.com/240X160/ccc/fff" alt=""></a>
            </div>
          </div>
        </div>
        <div class="eventContents">
          <div class="eventInfo">
            <div class="eventUser">
              <a href="#">
                <img src="../sub/images/searchUser.png" alt="" class="eventUserImg">
                <div>
                  <p class="eventUserNickName">관리자</p>
                  <span>6시간 전</span>
                </div>
              </a>
            </div>
            <div class="eventText">
              <a href="#">
                <h2 class="eventTitle">Lorem, ipsum dolor sit amet consectetur adipisicing.
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex iste voluptatum et
                  aliquam ut, quisquam veritatis doloremque expedita quis inventore sed eveniet,
                  nemo
                  nobis. Asperiores odit impedit minus accusamus expedita!</p>
                <span>2022-03-03</span>
              </a>
            </div>
            <div class="thumbImg">
              <a href="#"><img src="https://dummyimage.com/240X160/ccc/fff" alt=""></a>
            </div>
          </div>
        </div>
        <div class="eventContents">
          <div class="eventInfo">
            <div class="eventUser">
              <a href="#">
                <img src="../sub/images/searchUser.png" alt="" class="eventUserImg">
                <div>
                  <p class="eventUserNickName">관리자</p>
                  <span>6시간 전</span>
                </div>
              </a>
            </div>
            <div class="eventText">
              <a href="#">
                <h2 class="eventTitle">Lorem, ipsum dolor sit amet consectetur adipisicing.
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex iste voluptatum et
                  aliquam ut, quisquam veritatis doloremque expedita quis inventore sed eveniet,
                  nemo
                  nobis. Asperiores odit impedit minus accusamus expedita!</p>
                <span>2022-03-03</span>
              </a>
            </div>
            <div class="thumbImg">
              <a href="#"><img src="https://dummyimage.com/240X160/ccc/fff" alt=""></a>
            </div>
          </div>
        </div>
        <div class="eventContents">
          <div class="eventInfo">
            <div class="eventUser">
              <a href="#">
                <img src="../sub/images/searchUser.png" alt="" class="eventUserImg">
                <div>
                  <p class="eventUserNickName">관리자</p>
                  <span>6시간 전</span>
                </div>
              </a>
            </div>
            <div class="eventText">
              <a href="#">
                <h2 class="eventTitle">Lorem, ipsum dolor sit amet consectetur adipisicing.
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex iste voluptatum et
                  aliquam ut, quisquam veritatis doloremque expedita quis inventore sed eveniet,
                  nemo
                  nobis. Asperiores odit impedit minus accusamus expedita!</p>
                <span>2022-03-03</span>
              </a>
            </div>
            <div class="thumbImg">
              <a href="#"><img src="https://dummyimage.com/240X160/ccc/fff" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer th:replace="~{fragments/sub/footer::footer}"></footer>
</body>
</html>