<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/typo.css}" rel="stylesheet">
    <link th:href="@{/css/sub/header.css}" rel="stylesheet">
    <link th:href="@{/css/sub/footer.css}" rel="stylesheet">
    <link th:href="@{/css/news/notion/notionUpStyle.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>

<body>
<header th:replace="~{fragments/sub/header::header}"></header>

<section>
    <div class="nyNotionUpWarp">
        <h2>공지사항 작성하기</h2>
        <form id="notion" th:action="@{/news/notionUp/create}" method="post" th:object="${notionForm}" enctype="multipart/form-data">
            <div class="nyNotionUpBox">
                <div class="nyNotionUpInBox">
                    <div class="nySearch">
                        <label for="type">카테코리: </label>
                        <select id="type" name="type" th:field="*{type}">
                            <option value="airplane">비행기 상품</option>
                            <option value="package">패키지 상품</option>
                            <option value="payment">결제관련</option>
                            <option value="membership">회원가입/탈퇴</option>
                        </select>
                    </div>
                </div>
                <div class="nyNotionUpInBox">
                    <div class="nyNotionUpContent">
                        <div>공지 제목</div>
                        <input id="title" class="nyNotionTitle" th:field="*{notionTitle}" type="text"
                               name="notionTitle" placeholder="공지 제목을 적어주세요"/>
                        <div class="nyNotionUpContent">
                            <div>공지 내용</div>
                            <textarea id="content" class="nyNotionText" th:field="*{notionContent}" type="text"
                                      name="notionContent" placeholder="공지 내용을 적어주세요"></textarea>
                        </div>
                    </div>
                </div>
                <!-- 파일 업로드 인풋 요소와 버튼 추가 -->
                <div class="nyNotionUpInBox">
                    <label for="file">첨부 파일: </label>
                    <input id="file" type="file" name="file" class="fileUpload" accept=".jpg, .jpeg, .png, .pdf">
                </div>
                <button id="submit" type="submit">공지사항 등록</button>
            </div>
        </form>
    </div>
</section>

<footer th:replace="~{fragments/sub/footer::footer}"></footer>

<script src="/js/sub/header.js"></script>
<script src="/js/sub/footer.js"></script>
<script src="/js/news/notionUp.js"></script>
<!--<script src="/js/news/notionFile.js"></script>-->

</body>
</html>