<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/typo.css}" rel="stylesheet">
    <link th:href="@{/css/myPage/common.css}" rel="stylesheet">
    <link th:href="@{/css/sub/header.css}" rel="stylesheet">
    <link th:href="@{/css/sub/footer.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link th:href="@{/css/myPage/review/review.css}" rel="stylesheet">
</head>

<body>
<header th:replace="~{fragments/sub/header::header}"></header>


<section class="myPageSection">
    <!-- section -->
    <div class="tabBox">
        <ul class="mainTab firstTab">
            <li><a href="/user">#프로필</a></li>
            <li><a href="/user_shopping/orderList">#나의 쇼핑</a></li>
            <li class="on"><a href="/user_review">#나의 리뷰</a></li>
        </ul>
        <div class="subTab">
            <!-- 탭2 -->
            <div>
                <div class="tabBox secondTab">
                    <ul class="mainTab">
                        <li class="on"><a href="/user_review">내가 작성한 리뷰</a></li>
                        <li><a href="/review/newReview">리뷰쓰기</a></li>
                    </ul>
                    <div class="subTab">
                        <th:block th:if="${#lists.isEmpty(reviews)}">
                            <p class="AllNull">아직 등록된 리뷰가 없습니다.</p>
                        </th:block>
                        <th:block th:unless="${#lists.isEmpty(reviews)}" th:each="review : ${reviews}">
                            <div class="oej_bigBox">
                                <div class="oej_smallBox1" th:attr="data-review-id=${review.id}">
                                    <h1>[[${review.reviewTitle}]]</h1>
                                    <p class="oej_small">[[${review.contents}]]</p>
                                    <p class="oej_smallP">[[${review.reviewTime}]]</p>

                                    <div class="oej_p">
                                        <div class="oej_psmall">
                                            <p><i class="fas fa-eye"></i>조회수 : [[${review.reviewHits}]]</p>
                                            <p><i class="fa-regular fa-thumbs-up"></i>댓글수 : [[${review.commentCount}]]</p>
                                        </div>
                                    </div>

                                    <div class="oej_smallBox2">
                                        <div class="smallBox3">
                                            <img th:src="${review.miniImgUrl}" th:alt="${review.miniOriImgName}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer th:replace="~{fragments/sub/footer::footer}"></footer>
<script src="https:cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $('.oej_smallBox1').click(function() {
        const reviewId = $(this).data('review-id');

        const reviewDetailUrl = '/review/' + reviewId;

        window.location.href = reviewDetailUrl;
    });
});
</script>
<script src="/js/sub/header.js"></script>
<script src="/js/sub/footer.js"></script>
</body>
</html>