
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
}

p {
    font-size: 1.5rem;
    color: #333;
}

form {
    max-width: 1320px;
    height: 350px;
}
/* 헤더 */

.oej_container {
    position: relative;
    margin: 0 auto;
    top: 140px;
    height: 460px;
    max-width: 1320px;
}

.oej_header {
    position: absolute;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 70px;
    margin: 0 auto;
    color: #333;
}


input{
border-width: 0 0 1px;
background: none;
outline: none;
border-color: #0065BA;
}


/* 아이디/패스워드 */

.oej_input-box {
    position: relative;
    top: 0px;
    width: 500px;
    height: 60px;
    margin: 0 auto;
}

.oej_username {
    position: absolute;
    display: flex;
    width: 500px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    /* border-radius: 5px; */
    /* border: 1px solid #0065BA; */
}

.oej_password {
    position: absolute;
    display: flex;
    width: 500px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    /* border-radius: 5px;
    border: 1px solid  #0065BA; */
}

/* 로그인 버튼 */


.oej_log2 {
    /* position: relative; */
    display: flex;
    width: 500px;
    height: 50px;
    top:20px;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    border: 1px solid #0065BA;
    background: #0065BA;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

/* 보안접속 */
.oej_connect {
    margin: 0 auto;
    padding-top: 5px;
    width: 500px;

}

/* 회원가입 */

.oej_join {
    position: relative;
    display: flex;
    width: 500px;
    height: 50px;

}


.oej_us {
    position: relative;
    display: flex;
    width: 500px;
    height: 50px;
    top:20px;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    background: #003999;

    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

/* 찾기버튼 */
.oej_search {
    position: relative;
    display: flex;
    width: 500px;
    height: 80px;
    top: 30px;
    margin: 0 auto;
    align-items: center;
}


.oej_search div {

    width: 400px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 5px;
    border-radius: 5px;
}

.oej_search div a {
    color: #333;
    margin-right: 30px;
}


.oej_search div img {
    margin-top: 10px;
    margin-right: 20px;
    width: 20px;
}

.oej_na{
    background-color: #28D111;
}

.oej_ka {
    background-color: #FCE51E;
}

