<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/typo.css}" rel="stylesheet">
    <link th:href="@{/css/sub/header.css}" rel="stylesheet">
    <link th:href="@{/css/sub/footer.css}" rel="stylesheet">
    <link th:href="@{/css/news/inquiry/inquiryStyle.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>

<body>
<header th:replace="~{fragments/sub/header::header}"></header>

<!-- 1대1 문의 -->

<section id="inquiry-form">
    <div th:class="nyInquiryWarp">
        <h2>문의하기</h2>
        <form id="inquiry" th:action="@{/news/inquiry/inquiry}" method="post" th:object="${inquiryForm}">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{writer}" th:value="${inquiryForm.writer}" />
            <input type="hidden" th:field="*{nickName}">
            <input type="hidden" th:field="*{writer}">
            <input>
            <div th:class="nyInquiryBox">
                <div th:class="nyInquiryInBox">
                    <label for="type">문의 유형: </label>
                    <select id="type" name="type" th:field="*{type}">
                        <option value="airplane">비행기 상품</option>
                        <option value="package">패키지 상품</option>
                        <option value="payment">결제관련</option>
                        <option value="membership">회원가입/탈퇴</option>
                    </select>
                </div>
                <div th:class="nyInquiryInBox">
                    <label for="private">공개 여부: </label>
                    <input type="checkbox" th:field="*{private}" id="private" name="isPrivate" value="private"> 나만보기
                </div>
            </div>
            <textarea id="title" th:class="nyInquiryTitle" th:field="*{inquiryTitle}" name="inquiryTitle"
                      placeholder="문의 제목" rows="1"></textarea>
            <span th:if="${#fields.hasErrors('inquiryTitle')}" th:errors="*{inquiryTitle}"></span>

            <textarea id="content" th:class="nyInquiryContent" th:field="*{inquiryContent}" name="inquiryContent"
                      placeholder="문의 내용" rows="5"></textarea>
            <span th:if="${#fields.hasErrors('inquiryContent')}" th:errors="*{inquiryContent}"></span>

            <button id="submit">문의 등록</button>

        </form>
    </div>
</section>

<footer th:replace="~{fragments/sub/footer::footer}"></footer>

<script src="/js/sub/header.js"></script>
<script src="/js/sub/footer.js"></script>
<script src="/js/news/inquiry.js"></script>
</body>

</html>
