<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/typo.css}" rel="stylesheet">
    <link th:href="@{/css/login/login.css}" rel="stylesheet">
    <link th:href="@{/css/sub/header.css}" rel="stylesheet">
    <link th:href="@{/css/sub/footer.css}" rel="stylesheet">

</head>

<!--<th:block layout:fragment="css">-->
<!--    <style>-->
<!--        .error {-->
<!--            color: #bd2130;-->
<!--        }-->
<!--    </style>-->
<!--</th:block>-->

<body>

<!-- 로그인 -->

<header th:replace="~{fragments/sub/header::header}"></header>


<!-- 로그인 -->
<section class="oej_container">
    <div class="oej_header">
        <p>LOGIN</p>
    </div>
    <form th:action="@{/member/logins}" method="post" th:object="${memberDTO}">
<!--    <form action="/member/login" method="post">-->
        <div class="oej_input-box">
<!--            <input class="oej_username" type="text" id="username" name="memberEmail" placeholder="ID">-->
            <input class="oej_username" type="text" id="username" name="memberId" placeholder="ID">
            <label th:for="username"></label>
        </div>

        <div class="oej_input-box">
            <input class="oej_password" type="password" id="password"  name="memberPassword" placeholder="PASSWORD">
            <label th:for="password"></label>
        </div>

<!--        <input th:value="${loginErr}" type="text" id="loginRslt" hidden="true"/>-->
        <input class="oej_log1" type="submit" value="LOGIN">

       <!-- <input th:value="${loginErr}" type="text" id="loginRslt" hidden="true"/>
        <button class="oej_log1" type="submit" value="LOGIN">로그인</button> -->
<!--        <input class="oej_log1" type="submit" value="LOGIN">-->


        <div class="oej_connect"><i class="fa-solid fa-unlock-keyhole">보안접속</i> </div>


<!--        <button type="submit" class="oej_us" onClick="location.href='/member/save'">JOIN US</button>-->
<!--        <button id="submit" class="oej_us" onclick="window.location.href='/member/save'">JOIN US</button>-->
        <a href="/member/save"><button type="button" class="oej_us">JOIN US</button></a>

        <div class="oej_search">
            <div class="oej_na">
                <img src="../subImages/naver2.png" alt="">
                <a href="#">네이버 로그인</a>
            </div>

            <div class="oej_go">
                <img src="../subImages/구글.png" alt="">
                <a href="#">구글 로그인</a>
            </div>

            <div class="oej_ka">
                <img src="../subImages/카카오.png" alt="">
                <a href="#">카카오 로그인</a>
            </div>
        </div>
    </form>
</section>


<footer th:replace="~{fragments/sub/footer::footer}"></footer>
<script src="https:cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="/js/sub/header.js"></script>
<script src="/js/sub/footer.js"></script>

</body>

</html>