<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--User Style-->
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/typo.css}" rel="stylesheet">
    <link th:href="@{/css/sub/header.css}" rel="stylesheet">
    <link th:href="@{/css/sub/footer.css}" rel="stylesheet">
    <link th:href="@{/css/coupon/couponForm.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
<!--header-->
<header th:replace="~{fragments/sub/header::header}"></header>

<!--body-->
<div class="wrap">
    <h2 class="newCoupon">#쿠폰 등록하기</h2>
    <hr>
    <div class="container">
        <form class="formContainer" action="/coupon/new" method="post" th:object="${couponFormDto}">
            <input type="hidden" th:field="*{id}">
            <div>
                <select th:field="*{couponStatus}" class="custom-select">
                    <option value="ONGOING">진행중</option>
                    <option value="END">종료</option>
                </select>
            </div>
            <div class="pack">
                <div>
                    <label class="couponName">쿠폰명</label>
                    <input type="text" th:field="*{couponName}" name="couponName" placeholder="쿠폰 이름을 입력해주세요">
                    <p th:if="${#fields.hasErrors('couponName')}" th:errors="*{couponName}" class="fieldError">
                        Incorrect
                        data</p>
                </div>
                <div>
                    <label class="couponNum">쿠폰 수량</label>
                    <input type="number" th:field="*{couponNum}" name="couponNum" placeholder="ex) 1000(장)">
                </div>
            </div>
            <div class="pack">

                <div>
                    <label class="couponPrice">할인 금액(원)</label>
                    <input type="number" th:field="*{couponPrice}" name="couponPrice" placeholder="ex) 1000(원)">
                </div>

                <div>
                    <label class="couponRatio">할인 비율(%)</label>
                    <input type="number" th:field="*{couponRatio}" name="couponRatio" placeholder="ex) 10%"
                           max="100">
                </div>
            </div>

            <div class="pack">
                <div>
                    <label class="maxPrice">최대 할인 금액(원)</label>
                    <input type="number" th:field="*{maxPrice}" name="maxPrice" placeholder="ex) 1000(원)">
                </div>
                <div>
                    <label class="useMinPrice">최소 사용 금액(원)</label>
                    <input type="number" th:field="*{useMinPrice}" name="useMinPrice" placeholder="ex) 10000(원)">
                </div>
            </div>

            <div class="pack">
                <div>
                    <label class="couponStart">쿠폰 시작일</label>
                    <input name="couponStart" th:field="*{couponStart}" type="date">
                    <p th:if="${#fields.hasErrors('couponStart')}" th:errors="*{couponStart}" class="fieldError">
                        Incorrect
                        data
                    </p>
                </div>
                <div>
                    <label class="couponEnd">쿠폰 종료일</label>
                    <input name="couponEnd" th:field="*{couponEnd}" type="date">
                    <p th:if="${#fields.hasErrors('couponEnd')}" th:errors="*{couponEnd}" class="fieldError">
                        Incorrect
                        data
                    </p>
                </div>
            </div>

            <div class="btnArea" th:if="${#strings.isEmpty(couponFormDto.id)}">
                <button th:formaction="@{/coupon/new}" type="submit" class="btn createBtn">저장</button>
            </div>
            <div class="btnArea" th:unless="${#strings.isEmpty(couponFormDto.id)}">
                <button th:formaction="@{/coupon/update}" type="submit" class="btn createBtn">수정
                </button>
            </div>

        </form>
        <a href="/coupon/list">
            <button type="submit" class="btn cancelBtn">취소</button>
        </a>
    </div>
</div>

<!--footer-->
<footer th:replace="~{fragments/sub/footer::footer}"></footer>


<!--User Script-->
<script src="https:cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="/js/sub/header.js"></script>
<script src="/js/sub/footer.js"></script>
</body>

</html>