<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/typo.css}" rel="stylesheet">
    <link th:href="@{/css/sub/header.css}" rel="stylesheet">
    <link th:href="@{/css/sub/footer.css}" rel="stylesheet">
    <link th:href="@{/css/news/notionStyle.css}" rel="stylesheet">

</head>

<body>
<header th:replace="~{fragments/sub/header::header}"></header>
<!-- 공지사항 -->
<section class="nyNewsWrap">
    <h2>#공지사항</h2>
    <div class="nyNewsContainer">
        <div class="nyNewsCheck">
            <strong>총 <strong>522</strong>건</strong>
            <div class="nyNewsButton">
                <button type="button">최신순</button>
                <span>|</span>
                <button type="button">인기순</button>
            </div>
        </div>
        <div class="nyNewsBody">
            <ul>
                <li>
                    <a href="nyCustomerServiceNewsSub.html">
                        <img src="http://placehold.it/320x100" />
                        <div class="nyNewsBodyText">
                            <div class="nyNewTitle">한국관광 데이터랩 공모전 소문내기 이벤트</div>
                            <p>2023.08.21</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="nyCustomerServiceNewsSub.html">
                        <img src="http://placehold.it/320x100" />
                        <div class="nyNewsBodyText">
                            <div class="nyNewTitle">한국관광 데이터랩 공모전 소문내기 이벤트</div>
                            <p>2023.08.21</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<footer th:replace="~{fragments/sub/footer::footer}"></footer>
</body>
</html>