<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/typo.css}" rel="stylesheet">
    <link th:href="@{/css/sub/header.css}" rel="stylesheet">
    <link th:href="@{/css/sub/footer.css}" rel="stylesheet">
    <link th:href="@{/css/ticket/ticket.css}" rel="stylesheet">

</head>

<body>
<header th:replace="~{fragments/sub/header::header}"></header>

<section class="section">
    <div class="ticketPage">
        <div class="ticketPageTitle">
            <h2 class="ticketTag">#티켓</h2>
            <button><a href="/admin/ticket/new">티켓 등록</a></button>
        </div>
        <div class="ticketMain">
            <div class="ticketBoard">
                <th:block th:each="ticket: ${tickets}">
                    <div class="ticketContents">
                        <div class="ticketTitle">
                            <p> 출발지 : <span>[[${ticket.ticketStart}]]</span></p>
                            <p> 도착지 : <span>[[${ticket.ticketEnd}]]</span></p>
                            <p> 비행기 시간 : <span>[[${ticket.ticketStartDate}]] [[${ticket.ticketStartTime}]] ~ [[${ticket.ticketEndDate}]] [[${ticket.ticketEndTime}]]</span>
                            </p>
                        </div>
                        <div class="ticketInfo">
                            <div>
                                <p> firstClass 상태 : <span>[[${ticket.firstStatus}]]</span></p>
                                <p> firstClass 수량 : <span>[[${ticket.firstNum}]]</span> (장)</p>
                                <p> firstClass 가격 : <span>[[${ticket.firstPrice}]]</span> (원)</p>
                            </div>
                            <div>
                                <p> businessClass 상태 : <span>[[${ticket.businessStatus}]]</span></p>
                                <p> businessClass 수량 : <span>[[${ticket.businessNum}]]</span> (장)</p>
                                <p> businessClass 가격 : <span>[[${ticket.businessPrice}]]</span> (원)</p>
                            </div>
                            <div>
                                <p> economyClass 상태 : <span>[[${ticket.economyStatus}]]</span></p>
                                <p> economyClass 수량 : <span>[[${ticket.economyNum}]]</span> (장)</p>
                                <p> economyClass 가격 : <span>[[${ticket.economyPrice}]]</span> (원)</p>
                            </div>

                            <div>
                                <button><a th:href="'/admin/ticket/' + ${ticket.id} + '/edit'">수정</a></button>
                                <button class="deleteBtn"><a>삭제</a></button>
                            </div>
                            <div class="deleteModal modal">
                                <div class="modal-content">
                                    <p>쿠폰을 삭제하시겠습니까?</p>
                                    <button class="confirmDelete"><a
                                            th:href="'/admin/ticket/' + ${ticket.id} + '/delete'">삭제</a></button>
                                    <button class="cancelDelete">취소</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
                <div th:with="start=${(tickets.number div maxPage) * maxPage + 1},
                                end=(${(tickets.totalPages == 0) ? 1 : (start + (maxPage - 1) < tickets.totalPages ? start + (maxPage - 1) : tickets.totalPages)})">
                    <ul class="pagination">
                        <li th:classappend="${tickets.first}?'disabled'">
                            <a th:if="${tickets.hasPrevious}"
                               th:onclick="'javascript:page(' + ${tickets.number - 1} + ')'" aria-label='Previous'
                               class="page-link">
                                <span aria-hidden='true'>Previous</span>
                            </a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(start, end)}"
                            th:classappend="${tickets.number == page-1}?'active':''">
                            <a class="pages" th:if="${tickets.number != page-1}"
                               th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text">[[${page}]]</a>
                            <a class="pages" th:if="${tickets.number == page-1}">[[${page}]]</a>
                        </li>
                        <li th:classappend="${tickets.last}?'disabled'">
                            <a th:if="${tickets.hasNext}" th:onclick="'javascript:page(' + ${tickets.number + 1} + ')'"
                               aria-label='Next'>
                                <span aria-hidden='true'>Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{fragments/sub/footer::footer}"></footer>

<script src="https:cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    function openModal() {
        $(".deleteModal").css("display", "block");
    }

    function closeModal() {
        $(".deleteModal").css("display", "none");
    }

    $(".deleteBtn").click(function() {
        openModal(); // 모달 열기
    });

    // 삭제 확인 버튼 클릭 시 처리
    $(".confirmDelete").click(function() {
        console.log("삭제되었습니다.");
        closeModal(); // 모달 닫기
    });

    // 취소 버튼 클릭 시 모달 닫기
        $(".cancelDelete").click(function() {
        closeModal(); // 모달 닫기
    });

    // 페이징
    function page(page) {
        location.href = '/ticket/list/' + page;
    }


</script>
<script src="/js/sub/header.js"></script>
<script src="/js/sub/footer.js"></script>
<script>

</script>
</body>

</html>